*{
padding: 0px;
margin: 0px;

}
/*========================== INÍCIO ==========================*/
@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    width: 80% ;
    height: 100%;
    margin:  auto;
    background-color: #464646
}

#Logo{
    text-align: center;
    padding-top: 170px;

}
 
/*Textos*/
#texto_escolher_tema{
    font-family: 'Minecraft', Times, serif;
    padding-left: 235px;
    bottom: 330px;
    position: absolute;
}
#texto_numero_jogadores{
    font-family: 'Minecraft', Times, serif;
    padding-left: 598px;
    bottom: 330px;
    position: absolute;
}


/*Botões Select*/
#temas{
    font-family: 'Minecraft', Times, serif;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    width: 290px;
    position: absolute;
    bottom: 286px;
    padding-left: 12px;
}
#numero-jogadores{
    font-family: 'Minecraft', Times, serif;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    width: 175px; 
    position: absolute;
    bottom: 286px;
    padding-left: 140px;
}

/*Molduras*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}
.moldura{
    background-image: url("sprites/Moldura_versao_4.png") ;
    width : 300px ;
    height: 50px;
}

/*Botão Jogar*/
#botaoJogar{
    text-align: center;
    background-color: transparent;
    border-color: transparent;
}
#posicao_botao{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}


/*========================== GAME ==========================*/

header{
    position: relative;
    background-color: blueviolet;
    height: 55px;
    
}
ul{
    list-style-type: none;
    float: right;
    position: absolute;
    margin: 10px auto;
    padding: 0px 12px;
}

#palavra-secreta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-top: 30px;

}
ul li{
  float:  left;
  text-transform:uppercase;  
  padding: 12px; 
  font-size: 14px;
  color:#ccffff; 
  font: "Lucida Console", "arial", sans-serif;
}
.p1:active{
 background-color: yellowgreen;
}
/*INTERFACE PÁGINA DO JOGO*/
#interface{
    width: 90% ;
    height: 100%;
    margin:  auto;
    border: 1px solid blanchedalmond;
}
#tema{
    background-color: aqua;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
}



