*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#Logo{
    text-align: center;
    padding-top: 170px;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}

.titulo_temas{
    font-family: 'Minecraft', Times, serif;
    font-weight: normal;
    text-align: center;
}